<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/help.css" />
  </head>
  <body>
    <header>
      <h1 class="logo"><a href="/">Travel Planner</a></h1>
      <h1>Help & Support</h1>
    </header>

    <section class="help-content">
      <h2>Frequently Asked Questions</h2>
      <ul>
        <li>
          <strong>How do I book a trip?</strong> You can book a trip by using
          our Plan Your Journey tool.
        </li>
        <li>
          <strong>Can I manage my booking?</strong> Yes, you can manage your
          booking using the Manage My Booking page.
        </li>
        <li>
          <strong>What if I need to cancel?</strong> Contact support for
          cancellations.
        </li>
      </ul>

      <h2>Contact Support</h2>
      <p>
        For further assistance, contact us at
        <strong>support@travelplanner.com</strong> or call us at
        <strong>+1 (800) 123-4567</strong>.
      </p>
    </section>

    <footer>
      <p>&copy; 2024 Travel Planner. All Rights Reserved.</p>
    </footer>
  </body>
</html>
